@{
    ViewBag.Title = "Index";
    Layout = null;
}
<!DOCTYPE html>
<!-- saved from url=(0076)http://www.dldaqtf.cn/ggj/ml01/?14654656=&from=groupmessage&isappinstalled=0 -->
<html lang="en"><head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>
        【风湿骨病病友口述】 轻松战胜风湿类风湿，60天不痛不肿下地走，多亏了同仁堂祛湿寒的老方子！
    </title>
    <style>

     body{font-size:16px;line-height:120%;font-family:'Microsoft YaHei',arial,helvetica,sans-serif;background-color:#fff;margin:0;padding:0;color:#000}
div,img,li,p,ul{padding:0;margin:0;list-style:none}
*{margin:0;padding:0;box-sizing:border-box}
.wrap{max-width:560px;margin:0 auto;padding:10px}
.wrap .main{width:100%;padding-bottom:50px}
.content_title p.title{font-size:1.4rem;text-align:justify;line-height:1.6;font-weight:700;padding-bottom:16px;border-bottom:1px solid #ddd}
.content .content_text{font-size:1.2rem;text-align:justify;color:#3e3e3e;line-height:1.6;text-indent:2rem;letter-spacing:1px;word-break:break-all;word-wrap:break-word}
.content .content_img img{width:100%}
.content .wx_tip{padding:15px 0}
.content .wx_tip p{font-size:1.2rem;line-height:1.6;text-align:center;color:red;font-weight:700}
.wx_tip .wx_img{text-align:center}
.wx_tip .wx_img img{width:300px}
.person .people{border:1px solid #999;border-radius:10px;padding:10px;margin-top:10px}
.person .people p{font-size:1.2rem;text-align:justify;color:#3e3e3e;line-height:1.6;letter-spacing:1px;word-break:break-all;word-wrap:break-word}
.h20{width:100%;height:20px;margin:0 auto}
.comments .comments_read{color:#666;height:23px;line-height:23px;font-size:14px}
.comments .comments_read span img{width:25px;height:23px;margin-top:-10px}
.line{width:100%;margin:0 auto;margin-top:20px;margin-bottom:20px}
.line img{width:100%;margin:0 auto}
.pl{padding:10px;margin-bottom:2rem;border-bottom:5px double #ddd}
.pl .pl_left{float:left;width:15%;margin-right:5%}
.pl .pl_left img{width:100%}
.pl .pl_right{float:left;width:80%}
.pl .pl_right .pl_right_infor{font-size:1rem;color:#666}
.pl .pl_right .pl_right_infor .zan{float:right}
.pl .pl_right .pl_right_infor .zan img{margin-top:-10px;vertical-align:text-top}
.pl .pl_right .pl_right_text{font-size:1rem;line-height:1.6;text-align:justify;margin-top:20px}
.tel{background:#fffcd2;text-align:center;color:#e60012;padding:10px 0;font-size:17px;margin:2% 0}
.tel font{font-size:1.2em;font-weight:800;padding:6px 0;display:block}
.tel img{width:50%;margin-top:12px}
.titl{padding-left:2%;font-weight:800;font-size:17px;color:#fff;text-align:center;background:#44c006;padding:8px 0}
.a1{padding:0;color:red;font-size:1.2em}
.mf{width:70px;display:inline-block;height:30px}
#s_city,#s_county,#s_province{width:32%;margin-right:0;height:25px}
.foot{min-width:320px;max-width:760px;position:fixed;bottom:0;margin:0 auto;left:0;right:0}
.foot span{width:7%;height:35%;position:absolute;left:57%;top:43%;font-size:14px;line-height:100%;color:#fff;text-align:center}
.foot a{display:block;width:21%;height:78%;position:absolute;right:3%;bottom:7%}
.xbt{padding:1% 2%;color:#000;line-height:25px;font-size:16px;text-indent:2em}
    </style>
    <style>


      .bo-bar{position:fixed;bottom:0;width:100%;max-width:740px;height:100px;background:rgba(0,0,0,.8);color:#fff}
.bo-bar img{float:left;margin-top:30px;margin-left:10px;margin-right:5px;width:40px;height:40px}
.bo-bar h5{margin:5px 0 0 10px}
.bo-bar h5 strong{padding:3px 5px 0 5px;color:#FFF;background-color:red}
video{width:80%}
.video_sp{position:relative}
.video_sp img{position:absolute;top:90px;left:275px}
.nav_1{max-width:740px;margin:0 auto;height:50px;border-bottom:1px solid #E6E6E6;border-top:1px solid #E6E6E6;position:relative;background:#fff}
.nav_1_n{margin:0 auto;max-width:740px}
.amg{display:inline-block;width:10%;height:50px}
.nav_list{width:80%;display:inline-block;line-height:50px;position:absolute;top:0}
ul{list-style:none}
.nav_list ul li{display:inline-block;line-height:50px;width:22%}

    </style>
     <link rel="stylesheet" href="http://p1xppe29p.bkt.clouddn.com/jzimgs/base.css">
    <script>
        var arr_wx = ['ys59174','sy65749','ys32436','sy27439','sy23964','tr88829','tr88885','tr88823','trt18881','tr88827'];

        var wx_index = Math.floor((Math.random() * arr_wx.length));

        var stxlwx = arr_wx[wx_index];

        var img2 = "<img src='img/" + arr_wx[wx_index] + ".jpg' style='width:300px;'>";
        var img3 = "<img src='img/" + arr_wx[wx_index] + ".jpg' style='width:200px;'>";
        var img4 = "<img src='img/" + arr_wx[wx_index] + ".jpg' style='width:120px;height:120px;top:-27px;position:absolute;'>";
    </script>


</head>

	<body>
		<div class="wrap">
            <div class="main">
                <div class="content_title">
                    <p class="title">
                        【风湿骨病病友口述】 轻松战胜风湿类风湿，60天不痛不肿下地走，多亏了同仁堂祛湿寒的老方子！
                    </p>
                    <p style="font-size:1rem;color:#8c8c8c;padding:10px 0;">
                        <script>
                            document.write(time)
                        </script>2018-0-32017-11-27
                    </p>
                </div>
                <div class="content">
                    <p class="content_text">
                        真实讲述：十多年的风湿骨病，本来已经不抱任何康复的希望，没想到能在四个月的时间里我从一个半瘫痪的人恢复到了正常人的生活状态！怀揣一份感恩的心情和大家一起分享我重获新生的历程，希望能帮助到跟我一样受风湿骨病折磨的病友少走弯路，用正确的方法治疗，早日告别风湿骨病，重获健康！
                    </p>
                    <div class="content_img">
                        <img src="@Roc.Uility.Source.SiteSource.CDNUrl_Fengshi/1.jpg" alt="">
                    </div>
                    <p class="content_text">
                        我叫刘建华，江西人，是一名普通的下岗工人，按常理说50岁正值壮年,可就在十多年前我被确诊为类风湿性关节炎。初诊前手指关节有点红肿、疼痛还有点痒，有晨僵感，后来严重到双腕、双膝、双踝关节，疼痛经常游走在这几个关节，肢体时常处于麻木状态，上厕所迈一步就跟上刑一样疼，平时什么都干不了。打封闭、贴膏药、做按摩、中药西药止疼药，吃的我身上老是一股药味。大女儿打工赚的钱全部都给我买药了，还欠亲戚朋友几万块的债，病痛不但没有减轻，各关节还开始肿大变形了，简直生不如死，一想到拖累家人，有时候真恨不得一死了之。
                    </p>
                    <div class="content_img">
                        <img src="@Roc.Uility.Source.SiteSource.CDNUrl_Fengshi/2.jpg" alt="">
                    </div>
                    <p class="content_text">
                        说实话当时我已经不抱有任何希望了，就每天躺在床上等死。直到两年前大女儿带男朋友回家，女儿之前只告诉过他我身体不怎么好，小伙子看到我的情形，才知道我是患的类风湿，说他奶奶之前跟我一样也是类风湿，已经严重到卧床不起，吃喝拉撒都在床上，比我的严重多了。可就是在用了这个同仁堂的祛寒湿的老方子，在同仁堂老师一对一的指导用药下，现在70多岁的老人都能下地种菜了。他还特别叮嘱我不要病急乱投医瞎花钱，就坚持用同仁堂的方法治疗。
                    </p>
                    <div style="color:red;font-size:18px;font-weight:600;text-align:center;">
                        <p>多少年饱受折磨，难道今天你还想错过？ 现在长按下方黄色区域，添加微信</p>
                        <b style="color:red;font-size:20px;background:yellow;" id="gubing1" oncopy="myFunction();">
                            <script>document.write(stxlwx);</script>
                        </b>
                        <p>免费咨询同仁堂祛湿寒的妙方</p>
     
                    </div>

                    <p class="content_text">
                        &nbsp;一听有这种好事，我也就拖小伙子赶紧帮我报名，很快就得到了同仁堂健康指导老师的一对一回复，同仁堂老师详细了解到我的情况后，告诉我治疗风湿骨病千万不要乱治，千万不能头疼医头，脚疼医脚。对症下药、辨证施治，不同病情用不一样的组方这些非常关键。再好的药，都需配合专业的指导才能达到最佳疗效。同仁堂祛湿寒老方子从开始治疗风湿骨病到临床康复分四个周期，即控制期、治疗期、恢复期、巩固期。每个周期用药时间长短、用法用量和自身症状，患病时间的长短，个体体质差异都是不一样的。同仁堂老师会及时一对一指导用药确保疗效，每个周期人的关节功能都会得到明显的改善。
                    </p>
                    <p class="content_text">
                        &nbsp;正是300多年同仁堂祛湿寒的老方子和同仁堂老师一对一专业细心的指导，让我真正看到了希望。才相信我这个老风湿应该是有救了！
                    </p>
                    <div style="color:red;font-size:18px;font-weight:600;text-align:center;">
                        <p>同仁堂祛湿寒微信</p>
                        <b style="color:red;font-size:20px;background:yellow;" id="gubing1" oncopy="myFunction();">
                            <script>document.write(stxlwx);</script>
                        </b>
                        <p>长按复制添加 免费咨询</p>
                        <p>同仁堂祛湿寒为啥效果这么好？</p>
                        <p>传承300年，只做一件事儿——祛湿寒</p>
                    </div>
                    <div class="content_img">
                        <img src="@Roc.Uility.Source.SiteSource.CDNUrl_Fengshi/4.jpg" alt="">
                    </div>
                    <p class="content_text">
                        &nbsp;从拿到同仁堂祛湿寒老方子开始，同仁堂的指导老师每天都和我沟通，提醒按时用药，按不同的时间周期调整剂量，及时教我一些日常的康复训练技巧。 &nbsp;实话实说，按指导治疗3天后，关节红肿，疼痛就有基本消失了，碰到凉水也没有那种凉飕飕刺骨的感觉了。半个月的时候手指关节，腕、肘关节活动起来灵活了许多，不用拐杖都可以自己走路了，一个月后我感觉像换了个人似的，我每天早上都可以走超过10000步了。以前吃饭都拿不住筷子，现在换电线修农用车手指都很灵活，浑身就像捆住的绳子松开了一样！感受到了久违的轻松自在。真的没想到康复的奇迹真的出现在我身上了。有了效果就有了信心。坚持按照指导吃完3个月的药，全身关节像机器上了机油一样灵活。
                    </p>
                    <div style="color:red;font-size:18px;font-weight:600;text-align:center;">
                        <p>同仁堂祛湿寒妙方</p>
                        <b style="color:red;font-size:20px;background:yellow;" id="gubing1" oncopy="myFunction();">
                            <script>document.write(stxlwx);</script>
                        </b>
                        <p>一个好方法，比盲目乱治更重要</p>

                    </div>

                    <p class="content_text">
                        原先关节肿胀的像包子，现在不痛不痒不肿了，皮肤也红润了。以前腰伸不直，僵硬，现在跑步爬楼梯扛水桶都不是问题。没想到我这十多年的老风湿就这样奇迹般的康复了，打铁趁热，我按照指导老师的又巩固了两个月，这回是彻底把十多年的老风湿甩掉了，我现在种地干农活，没事的时候去工地做做临时工都没问题了。我这个年纪的人，本是担当的年纪，不成为儿女的负担，不拖累家庭，还能自给自足赚钱养家，我是太满足了。虽然停药一年多了，类风湿病一直就没复发过。我对同仁堂“再生之恩”不知该如何感谢！我只想尽我所能给百年同仁堂做个口碑宣传，以此表达我的感恩之情！
                    </p>
                    <div class="content_img">
                        <img src="@Roc.Uility.Source.SiteSource.CDNUrl_Fengshi/5.jpg" alt="">
                    </div>
                    <p class="content_text">
                        &nbsp;在咨询同仁堂的老师前我还特意让我女儿帮我上网查了同仁堂的相关资料，分享给大家：
                    </p>
                    <p class="content_text">
                        天津同仁堂起源于明崇祯十七年（公元1644年），距今已有三百余年历史，始终秉承“同仁同心，同修仁德”的企业理念，以“方为真方，药为真药，心为真心，价为真价”的祖训传世，是一家中药老字号企业。
                    </p>
                    <div style="color:red;font-size:18px;font-weight:600;text-align:center;">
                        <p>传承300年 让9000万风湿骨病患者受益</p>
                        <b style="color:red;font-size:20px;background:yellow;" id="gubing1" oncopy="myFunction();">
                            <script>document.write(stxlwx);</script>
                        </b>
                        <p>可增加微信号 免费咨询</p>

                    </div>
                    <p class="content_text">
                        同仁堂祛湿寒老方子是同仁堂传承300多年的经典验方，该方功能主治很全面，它巧妙地运用了21味精选野生药材君臣佐使的协同作用，结合现代高科技萃取技术，能使药物更具活性、渗透性，辨证施治，能快速打通由于风湿寒燥邪对人体造成的全身瘀阻，有效铲除积存在人体内的湿毒，具有祛风散寒、除湿活络、滋补肝肾的三大主要功效，尤其针对由于肝肾不足而引起的各类风寒湿痹，骨关节病，关节肿痛，四肢麻木，腰膝酸痛有奇效，直观点说就是对风湿性关节炎，类风湿性关节炎，痛风，强直性脊柱炎，股骨头坏死，等都有治疗奇效。它有效率100%。被誉为同仁堂的镇堂之宝。
                    </p>
                    <div class="content_img">
                        <img src="@Roc.Uility.Source.SiteSource.CDNUrl_Fengshi/6.jpg" alt="">
                    </div>
                    <div class="content_img">
                        <img src="@Roc.Uility.Source.SiteSource.CDNUrl_Fengshi/7.jpg" alt="">
                    </div>
                    <p class="content_text">
                        再好的效果都口说无凭，有CT、X光片为证:
                    </p>
                    <div class="content_img">
                        <img src="@Roc.Uility.Source.SiteSource.CDNUrl_Fengshi/8.jpg" alt="">
                    </div>
                    <div class="content_img">
                        <img src="@Roc.Uility.Source.SiteSource.CDNUrl_Fengshi/9.jpg" alt="">
                    </div>
                    <p class="content_text">
                        我把我的经历分享出来，就是想让更多风湿病友们不再走弯路，不要再白花钱活受罪!
                    </p>
                    <div style="color:red;font-size:18px;font-weight:600;text-align:center;">
                        <p>同仁堂祛湿寒妙方</p>
                        <b style="color:red;font-size:20px;background:yellow;" id="gubing1" oncopy="myFunction();">
                            <script>document.write(stxlwx);</script>
                        </b>
                        <p>一个好方法，比盲目乱治更重要</p>

                    </div>
                    <p class="content_text">
                        凡是在同仁堂治疗过的老风湿病患者，通过一对一的指导治疗，没有一个效果不好的，好多几十年的老风湿老骨病，瘫痪在床的老人，现在不用拄拐都能下地走路了，生活质量大大的提高了，希望大家把这个同仁堂祛湿寒老方子和一对一指导用药方案推广传播开，让更多受风湿骨病折磨的病友重获新生！
                    </p>
                    <div class="content_img">
                        <img src="@Roc.Uility.Source.SiteSource.CDNUrl_Fengshi/10.jpg" alt="">
                    </div>
                    <p class="content_text">
                        请抓紧时间领取

                    </p>
                    <section class="" style="max-width: 100%; line-height: 25.6px; overflow-x: hidden; box-sizing: border-box !important; word-wrap: break-word !important;"><section class="" style="max-width: 100%; font-family: &#39;Microsoft YaHei&#39;, Arial, sans-serif; font-variant-ligatures: normal; line-height: 25.6px; orphans: 2; widows: 2; border: 0px none; box-sizing: border-box !important; word-wrap: break-word !important;"><section style="max-width: 100%; border: 0px none; box-sizing: border-box !important; word-wrap: break-word !important;"><section style="margin: 20px 5px 5px; padding: 5px; max-width: 100%; border: 2px solid rgb(214, 152, 16); line-height: 24px; border-radius: 2px; box-sizing: border-box !important; word-wrap: break-word !important;"><p style="margin-top: -25px; margin-right: 5px; margin-left: 5px; padding: 5px; max-width: 100%; min-height: 1em; text-align: center; box-sizing: border-box !important; word-wrap: break-word !important;"><strong style="max-width: 100%; box-sizing: border-box !important; word-wrap: break-word !important;"><span style="padding: 10px 15px; max-width: 100%; border-radius: 4px; color: red; font-size: 18px; box-sizing: border-box !important; word-wrap: break-word !important; background-color: rgb(254, 254, 254);">郑重提醒</span></strong></p><p style="margin-top: -25px; margin-right: 5px; margin-left: 5px; padding: 5px; max-width: 100%; min-height: 1em; text-align: center; box-sizing: border-box !important; word-wrap: break-word !important;"><span style="max-width: 100%; text-align: justify; line-height: 21px; color: rgb(0, 0, 0); box-sizing: border-box !important; word-wrap: break-word !important;"><br style="max-width: 100%; box-sizing: border-box !important; word-wrap: break-word !important;"></span></p><p style="margin-top: -25px; margin-right: 5px; margin-left: 5px; padding: 5px; max-width: 100%; min-height: 1em; text-align: center; box-sizing: border-box !important; word-wrap: break-word !important;"><span style="max-width: 100%; text-align: justify; line-height: 21px; color: rgb(0, 0, 0); box-sizing: border-box !important; word-wrap: break-word !important;"><br style="max-width: 100%; box-sizing: border-box !important; word-wrap: break-word !important;"></span></p><p style="margin-top: -25px;font-size:18px; margin-right: 5px; margin-left: 5px; padding: 5px; max-width: 100%; min-height: 1em; box-sizing: border-box !important; word-wrap: break-word !important;"><span style="max-width: 100%; text-align: justify; line-height: 21px; color: rgb(0, 0, 0); box-sizing: border-box !important; word-wrap: break-word !important;">&nbsp; &nbsp; &nbsp; &nbsp;如果您或者您身边的亲戚朋友也正在忍受着<span style="color:red;font-weight:600;">颈椎病、肩周炎、骨质增生、风湿关节炎、痛风</span>等困扰，就试试同仁堂祛湿寒妙方吧！添加祛湿寒微信<span style="color:red;font-weight:600;">早治疗，少花钱，少遭罪！</span></span><br style="max-width: 100%; box-sizing: border-box !important; word-wrap: break-word !important;"></p></section></section></section></section>
                    <div style="color:red;font-size:18px;font-weight:600;text-align:center;">
                        <p>无敌治骨微信</p>
                        <b style="color:red;font-size:20px;background:yellow;" id="gubing3" oncopy="myFunction();">
                            <script>document.write(stxlwx);</script>
                        </b>
                        <p>长按复制添加  免费咨询</p><br>
                    </div>
                    <p class="content_text">
                        只要跟我一样坚持半年，大家都可以和我一样远离风湿疼痛、关节变形，能吃能喝能干活，从此过上正常人的幸福生活！同仁堂老师的还经常会分享一些养生的小知识，让你们和我一样站起来、走起来、动起来！希望大家也可以延续这个积德行善的美德，传播出去，造福更多的风湿骨病病友。
                    </p>
                    <div class="content_img">
                        <img src="@Roc.Uility.Source.SiteSource.CDNUrl_Fengshi/11.jpg" alt="">
                    </div>
                </div>
                <div class="person">
                    <div class="people">
                        <p>
                            <img src="@Roc.Uility.Source.SiteSource.CDNUrl_Fengshi/p1.jpg" alt="" style="float:left;" width="100">
                            <span style="font-weight:bold;">颈椎病患者42岁张女士</span>：头晕眼花，恶心，头晕欲裂，脖子就像灌了铅块。用了同仁堂“同仁堂祛湿寒老方子”当天就不疼了，一个月脖子转动自如，也不咔咔响，脑袋也不昏昏沉沉。
                        </p>
                    </div>
                    <div class="people">
                        <p>
                            <img src="@Roc.Uility.Source.SiteSource.CDNUrl_Fengshi/p2.jpg" alt="" style="float:left;" width="100">
                            <span style="font-weight:bold;">骨质增生患者53岁韩师傅说</span>：浑身关节都疼的厉害，一检查，说是骨质增生，有骨刺，上下楼都要人搀扶，服用同仁堂“同仁堂祛湿寒老方子”开始三天就不疼了，关键能弯曲了，现在一口气爬上5楼都不费力，真是神奇。
                        </p>
                    </div>
                    <div class="people">
                        <p>
                            <img src="@Roc.Uility.Source.SiteSource.CDNUrl_Fengshi/p3.jpg" alt="" style="float:left;" width="100">
                            <span style="font-weight:bold;">肩周炎患者51岁黄姐</span>：自从上了年纪，这肩膀酸痛的抬不起来，梳头穿衣都困难，还是同仁堂“同仁堂祛湿寒老方子”厉害，把我的肩周炎治好了，原来刷牙肩膀都疼，现在能把一桶水提起来。
                        </p>
                    </div>
                    <div class="people">
                        <p>
                            <img src="@Roc.Uility.Source.SiteSource.CDNUrl_Fengshi/p4.jpg" alt="" style="float:left;" width="100">
                            <span style="font-weight:bold;">风湿关节炎患者60岁赵老师</span>：全身的关节，都串着疼，肩膀胳膊疼，膝盖脚脖子疼，怕风怕冷。用了同仁堂“同仁堂祛湿寒老方子”，关节里热乎乎的，身上感觉有一团火，关节说不疼就不疼了，慢慢的也消肿了，到现在一年多都没再犯。
                        </p>
                    </div>
                    <div class="people">
                        <p>
                            <img src="@Roc.Uility.Source.SiteSource.CDNUrl_Fengshi/p5.jpg" alt="" style="float:left;" width="100">
                            <span style="font-weight:bold;">膝关节病患者71岁周婆婆说</span>：膝盖像两个冰疙瘩，肿起来跟馒头使得，根本弯不了，不能走路。这段时间天气转凉，服用同仁堂“骨王”才3天，就觉得热乎乎的；才十几天，肿消了，腿能屈能伸，走路敢使劲，能和老伴去买菜了。
                        </p>
                    </div>
                </div>

                <div class="bo-bar">

                    <img src="@Roc.Uility.Source.SiteSource.CDNUrl_JZ/jzimgs/wxtb.png">

                    <h5 style="position:relative;font-size:14px;line-height:24px;margin-top:15px;">
                        <span style="background:yellow;font-size:20px">
                            <b style="color:red;font-size:20px;" id="gubing7" oncopy="myFunction();">
                                <script>document.write(stxlwx);</script>
                            </b>
                        </span> 长按复制<br>立即添加老师微信，获得快速<br>康复颈腰椎的有效方法
                        <a href="weixin://" style="position: absolute;padding:5px 10px;background:#4998E7;color:#fff;;border-radius:3px;font-size:14px;right:20px;top:20px;">去微信</a>
                    </h5>



                </div>

            </div>

		</div>
		<script type="text/javascript">
			var a = 57;

			function jone() {
				document.getElementById("sy").innerHTML = a;
				a--;
				if(a <= 0) {
					a = 1
				}
			}
			setInterval("jone()", 10000);
		</script>

	

</body><iframe id="__ToutiaoJSBridgeIframe_SetResult" style="display: none;" src="@Roc.Uility.Source.SiteSource.CDNUrl_Fengshi/saved_resource.html"></iframe><iframe id="__ToutiaoJSBridgeIframe" style="display: none;" src="@Roc.Uility.Source.SiteSource.CDNUrl_Fengshi/saved_resource(1).html"></iframe></html>