@{
    ViewBag.Title = "Index";
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <script charset="utf-8" src="@Roc.Uility.Source.SiteSource.CDNUrl_JZ/jzimgs/lxb.js">
    </script>
    <script charset="utf-8" src="@Roc.Uility.Source.SiteSource.CDNUrl_JZ/jzimgs/v.js"></script>
 
    <script type="text/javascript" src="~/content/jzimgs/jquery.min.js"></script>
 
    <link href="@Roc.Uility.Source.SiteSource.CDNUrl_JZ/jzimgs/main.css" rel="stylesheet">
    <script type="text/javascript" src="@Roc.Uility.Source.SiteSource.CDNUrl_JZ/jzimgs/tz.js"></script>
    <script type="text/javascript">
        $(function () {

            $("#mydel").click(function () {
                $("#myModal").css("display", 'none');

            });
        })

    </script>

    <style type="text/css">

      .video_iframe{width:80%;height:200px}
.youku{width:70%;height:150px}
.tot_pin{width:100%}
.photo{width:40px;height:30px;float:left}
.content{float:left;margin-left:10px;width:83%;margin-bottom:20px}
.ni_name{color:#999;width:80%}
.like{float:right;color:#999;padding-right:20px}
.clear{clear:both}
.wechatBox{display:none;height:100%;position:fixed;top:0;width:100%;z-index:5}
.wechatimg{background:#fff;border-radius:20px;box-shadow:1px 1px 2px rgba(0,0,0,1);color:#666;display:none;left:10%;position:fixed;right:10%;text-align:center;top:20%;width:80%;z-index:5000}
.wechat{background:#fff none repeat scroll 0 0;border-radius:20px;box-shadow:1px 1px 2px rgba(0,0,0,1);color:#666;display:none;left:10%;padding:30px 0;position:fixed;right:10%;text-align:center;top:20%;width:80%;z-index:5000}
.wechatimg img{width:100%}
.wechat .p1{font-size:16px}
.wechat .p2{font-size:23px}
.wechat .wxid{background-color:#f62796;color:#fff;font-size:24px;margin:10px 0;padding:10px}
.wxid{background-color:#f62796;color:#fff;font-size:24px;margin:30px 0;padding:10px}
.fooder{width:100%;border-top:.5px solid #ccc;text-align:center;font-weight:700;position:fixed;left:0;bottom:0;background:#fff}
.fooder p{font-size:18px;line-height:36px;color:#2a2a2a;margin-left:28px;margin-top:20px}
.footerImg{position:absolute}
img{vertical-align:middle}

    </style>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
    <style type="text/css" href="css/style.css"></style>
    <link rel="stylesheet" href="@Roc.Uility.Source.SiteSource.CDNUrl_JZ/jzimgs/base.css">
    <title>腰椎病难治？找对方法，其实很简单！</title>

    <link href="@Roc.Uility.Source.SiteSource.CDNUrl_JZ/@Roc.Uility.Source.SiteSource.CDNUrl_JZ/jzimgs/index.css" rel="stylesheet" />

    <style>


        .bo-bar {
            position: fixed;
            bottom: 0;
            width: 100%;
            max-width: 740px;
            height: 100px;
            background: rgba(0, 0, 0, .8);
            color: #fff;
        }

            .bo-bar img {
                float: left;
                margin-top: 30px;
                margin-left: 10px;
                margin-right: 5px;
                width: 40px;
                height: 40px;
            }

            .bo-bar h5 {
                margin: 5px 0 0 10px;
            }

                .bo-bar h5 strong {
                    padding: 3px 5px 0 5px;
                    color: #FFF;
                    background-color: #F00;
                }

        video {
            width: 80%;
        }

        .video_sp {
            position: relative;
        }

            .video_sp img {
                position: absolute;
                top: 90px;
                left: 275px;
            }

        .nav_1 {
            max-width: 740px;
            margin: 0 auto;
            height: 50px;
            border-bottom: 1px solid #E6E6E6;
            border-top: 1px solid #E6E6E6;
            position: relative;
            background: #fff;
        }

        .nav_1_n {
            margin: 0 auto;
            max-width: 740px;
        }

        .amg {
            display: inline-block;
            width: 10%;
            height: 50px;
        }

        .nav_list {
            width: 80%;
            display: inline-block;
            line-height: 50px;
            position: absolute;
            top: 0;
        }

        ul {
            list-style: none;
        }

        .nav_list ul li {
            display: inline-block;
            line-height: 50px;
            width: 22%;
        }
    </style>





    <script>
        var arr_wx = ['wd223837','wd274493'];

        var wx_index = Math.floor((Math.random() * arr_wx.length));

        var stxlwx = arr_wx[wx_index];

        var img2 = "<img src='img/" + arr_wx[wx_index] + ".jpg' style='width:300px;'>";
        var img3 = "<img src='img/" + arr_wx[wx_index] + ".jpg' style='width:200px;'>";
        var img4 = "<img src='img/" + arr_wx[wx_index] + ".jpg' style='width:120px;height:120px;top:-27px;position:absolute;'>";
    </script>

</head>
 
<body id="activity-detail" class="" style="">


    <div class="modal fade bs-example-modal-sm" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-header" style="padding: 0px; margin: 0px;position: relative;">
                <img src="./腰椎病难治？找对方法，其实很简单！_files/pic.png" alt="" style="width: 100%;vertical-align:middle">
                <p id="mydel">X</p>
            </div>
            <div class="modal-content" style="border-top-right-radius: 0; border-top-left-radius: 0;">



                <div class="modal-body">
                    <h4 style="margin: auto;line-height: 150%;">恭喜您,获得免费咨询<span style="color: red; font-size: 20px; font-weight: bold;">↓↓↓</span>的资格！</h4>
                    <h4 style="margin: auto;line-height: 250%;"><span style="color: red; font-size: 20px; font-weight: bold;">陆教授</span></h4>
                    <h4 style="margin: auto;line-height: 200%;"> <font style="color:#f74545;font-weight:bold;font-size:1.2em;" id="gubing8">zy232357</font>						  </h4>
                    <h4 style="margin: auto;">
                        ★长按复制加微信★
                    </h4>
                    <h4 style="margin: auto;">每天仅<span style="color:red;font-weight:bolder;">50</span>个名额,错过终身遗憾</h4>
                </div>


            </div>
        </div>
    </div>


    <div id="demo"></div>
    <!-- 新导航 -->
    <div class="nav_1">

        <div id="js_article" class="rich_media">

            <div id="js_top_ad_area" class="top_banner" style="display: none;">


            </div>

        </div>

        <div class="rich_media_inner">

            <div id="page-content">
                <div id="img-content" class="rich_media_area_primary">
                    <h1 class="rich_media_title" id="activity-name">
                        颈腰椎难治？找对方法，其实很简单！
                    </h1>
                    <div class="rich_media_meta_list" style="border-bottom: 1px solid #e7e7eb;">
                        <p><span class="rich_media_meta rich_media_meta_text" style="font-size:14px;display:block;width:100%">2017-08-28 健康头条 <big style="float:right;font-size:14px;"> 阅读量 1456948</big></span></p>

                    </div>







                    <div class="rich_media_content " id="js_content">






                        <p style="font-size:18px;"><span style="font-size:24px;color:red;font-weight:700;">导读：</span>当你看到这篇文章，想必已经受尽了腰椎病的痛苦折磨，得了老腰突，自己遭罪，家人受累，办法用尽却屡治屡犯！其实大家都一样，万幸，现在终于治好了，又能挺直腰板了！</p>
                        <p style="font-size:18px;">
                            今天如果你想尽早治好老腰突，恢复正常生活，那接下去的内容很重要。我以一个过来人的身份，通过自己12年的治疗经验，希望能帮助腰突病友们少走弯路，不花冤枉钱，大家一起“挺直腰杆”做人！
                        </p>


                        <p style="line-height: 25.6px; white-space: normal; max-width: 100%; min-height: 1em; box-sizing: border-box !important; word-wrap: break-word !important;">
                            <span style="max-width: 100%; line-height: 1.6; box-sizing: border-box !important; word-wrap: break-word !important;">
                                <span style="max-width: 100%; line-height: 1.6;">
                                    <strong>
                                        <span style="max-width: 100%; line-height: 1.6; box-sizing: border-box !important; word-wrap: break-word !important; font-size: 16px;">
                                            <span style="font-family:Calibri, sans-serif">
                                                <br>
                                            </span>
                                        </span>
                                    </strong>
                                </span>
                            </span>
                        </p>
                        <p style="line-height: 25.6px;text-align: center; white-space: normal; max-width: 100%; min-height: 1em; box-sizing: border-box !important; word-wrap: break-word !important;"><img src="@Roc.Uility.Source.SiteSource.CDNUrl_JZ/jzimgs/ren-1.png" width="70%"></p>
                        <section class="" data-source="bj.96weixin.com" style="line-height: 25.6px; white-space: normal; max-width: 100%; box-sizing: border-box !important; word-wrap: break-word !important;"><section style="max-width: 100%; box-sizing: border-box; word-wrap: break-word !important;"><section style="max-width: 100%; box-sizing: border-box; word-wrap: break-word !important;"><section class="" style="margin-top: 0.5em; margin-bottom: 0.5em; max-width: 100%; box-sizing: border-box; overflow: hidden; word-wrap: break-word !important;"><section class="" style="max-width: 100%; box-sizing: border-box; display: inline-block; vertical-align: middle; width: 6px; height: 6px; word-wrap: break-word !important;"><section style="max-width: 100%; box-sizing: border-box; transform: rotate(0.1deg); word-wrap: break-word !important;"><section class="" style="max-width: 100%; box-sizing: border-box; width: 6px; height: 6px; border-radius: 100%; word-wrap: break-word !important; background-color: rgb(209, 0, 0);"></section></section></section><section class="" style="margin-right: -6px; margin-left: -7px; max-width: 100%; box-sizing: border-box; display: inline-block; vertical-align: middle; width: 668px; border-bottom-width: 2px; border-bottom-style: dotted; border-bottom-color: rgb(209, 0, 0); word-wrap: break-word !important;"></section><section class="" style="max-width: 100%; box-sizing: border-box; display: inline-block; vertical-align: middle; width: 6px; height: 6px; border-radius: 100%; word-wrap: break-word !important; background-color: rgb(209, 0, 0);"></section></section></section></section></section><p><br></p><p style="line-height: 25.6px;font-size:18px; white-space: normal; max-width: 100%; min-height: 1em; box-sizing: border-box !important; word-wrap: break-word !important;">我叫张振东，今年45岁，是一名普通工人，由于劳累过度，最终落下了腰疼的老毛病。刚开始只是腰两边疼，直不起腰，卧床休息段时间才能稍微缓解，慢慢的越来越严重，腿疼的走不了多远，脚也发麻，坐久了屁股也痛。到医院检查，说是腰椎骨质增生、腰椎间盘L4-5突出，还伴有椎管狭窄，建议我手术。</p>
                        <p style="line-height: 25.6px; white-space: normal; max-width: 100%; min-height: 1em; box-sizing: border-box !important; word-wrap: break-word !important;">
                            <br style="max-width: 100%; box-sizing: border-box !important; word-wrap: break-word !important;">
                        </p>
                        <p style="line-height: 25.6px; white-space: normal; text-align: center;max-width: 100%; min-height: 1em; box-sizing: border-box !important; word-wrap: break-word !important;"><img src="@Roc.Uility.Source.SiteSource.CDNUrl_JZ/jzimgs/p2.jpg" width="400px"></p>
                        <p style="line-height: 25.6px; white-space: normal; max-width: 100%; min-height: 1em; box-sizing: border-box !important; word-wrap: break-word !important;"><span style="max-width: 100%; font-family: 宋体; color: rgb(68, 68, 68); box-sizing: border-box !important; word-wrap: break-word !important; background-image: none; background-attachment: scroll; background-size: initial; background-origin: initial; background-clip: initial; background-position: 0% 0%; background-repeat: repeat;"><span style="max-width: 100%; color: rgb(51, 51, 51); line-height: 25.6px; text-indent: 24px; white-space: pre-wrap; box-sizing: border-box !important; word-wrap: break-word !important;"><br></span></span></p><section class="" data-source="bj.96weixin.com" style="line-height: 25.6px; white-space: normal; max-width: 100%; box-sizing: border-box !important; word-wrap: break-word !important;"><section style="margin-top: 0.8em; margin-bottom: 0.5em; max-width: 100%; line-height: 25px; font-family: 微软雅黑; box-sizing: border-box !important; word-wrap: break-word !important;"><span class="" style="padding: 0.3em 0.5em; max-width: 100%; border-radius: 0.5em; text-align: center; color: white; font-size: 1em; display: inline-block; box-shadow: rgb(165, 165, 165) 0.2em 0.2em 0.1em; box-sizing: border-box !important; word-wrap: break-word !important; background-color: rgb(209, 0, 0);"><strong style="max-width: 100%; box-sizing: border-box !important; word-wrap: break-word !important;">多方求助 身心俱疲</strong></span></section></section>
                        <p style="line-height: 25.6px;font-size:18px;text-indent: 24px; white-space: normal;"><span style="color: rgb(51, 51, 51); font-size: 1em; line-height: 25.6px; ">我身边很多做过腰椎手术的病友反映术后复发率特别高，说是能保守治疗就不要动刀子，腰部神经比较密集，手术风险大，不成功的话还有瘫痪的可能！</span><br></p><p style="line-height: 25.6px;font-size:18px; white-space: normal; max-width: 100%; min-height: 1em; color: rgb(51, 51, 51); text-indent: 24px; box-sizing: border-box !important; word-wrap: break-word !important;"><span style="max-width: 100%; line-height: 25.6px; font-size: 1em; box-sizing: border-box !important; word-wrap: break-word !important;">后来听说，这个病用推拿、按摩、针灸等方法会好的快。于是我去了一家专业治疗腰椎间盘突出的机构做牵引。没想到不到一个月，腰给按坏了，床都下不来，拍片检查才知道，腰部有很多神经和穴位，按摩牵引操作不当，会对神经、韧造成粘连损伤，严重者可能会落下瘫痪，吓得我再也不敢胡乱尝试了！</span></p><p style="line-height: 25.6px; text-align: center;white-space: normal; max-width: 100%; min-height: 1em; box-sizing: border-box !important; word-wrap: break-word !important;"><img src="@Roc.Uility.Source.SiteSource.CDNUrl_JZ/jzimgs/p3.png" width="500" height="282"></p>
                        <p style="line-height: 25.6px; white-space: normal;"><br></p><section class="" data-source="bj.96weixin.com" style="line-height: 25.6px; white-space: normal; max-width: 100%; box-sizing: border-box !important; word-wrap: break-word !important;"><section style="max-width: 100%; box-sizing: border-box; word-wrap: break-word !important;"><section style="max-width: 100%; box-sizing: border-box; word-wrap: break-word !important;"><section class="" style="margin-top: 0.5em; margin-bottom: 0.5em; max-width: 100%; box-sizing: border-box; overflow: hidden; word-wrap: break-word !important;"><section class="" style="max-width: 100%; box-sizing: border-box; display: inline-block; vertical-align: middle; width: 6px; height: 6px; word-wrap: break-word !important;"><section style="max-width: 100%; box-sizing: border-box; transform: rotate(0.1deg); word-wrap: break-word !important;"><section class="" style="max-width: 100%; box-sizing: border-box; width: 6px; height: 6px; border-radius: 100%; word-wrap: break-word !important; background-color: rgb(209, 0, 0);"><br style="max-width: 100%; box-sizing: border-box !important; word-wrap: break-word !important;"></section></section></section><section class="" style="margin-right: -6px; margin-left: -7px; max-width: 100%; box-sizing: border-box; display: inline-block; vertical-align: middle; width: 668px; border-bottom-width: 2px; border-bottom-style: dotted; border-bottom-color: rgb(209, 0, 0); word-wrap: break-word !important;"></section><section class="" style="max-width: 100%; box-sizing: border-box; display: inline-block; vertical-align: middle; width: 6px; height: 6px; border-radius: 100%; word-wrap: break-word !important; background-color: rgb(209, 0, 0);"></section></section></section></section></section><section class="" data-source="bj.96weixin.com" style="line-height: 25.6px; white-space: normal; max-width: 100%; box-sizing: border-box !important; word-wrap: break-word !important;">
                            <section style="margin-top: 0.8em; margin-bottom: 0.5em; max-width: 100%; line-height: 25px; font-family: 微软雅黑; box-sizing: border-box !important; word-wrap: break-word !important;"><span class="" style="padding: 0.3em 0.5em; max-width: 100%; border-radius: 0.5em; text-align: center; color: white; font-size: 1em; display: inline-block; box-shadow: rgb(165, 165, 165) 0.2em 0.2em 0.1em; box-sizing: border-box !important; word-wrap: break-word !important; background-color: rgb(209, 0, 0);"><strong style="max-width: 100%; box-sizing: border-box !important; word-wrap: break-word !important;"><strong style="max-width: 100%; line-height: 25.6px; white-space: pre-wrap; color: rgb(255, 41, 65); box-sizing: border-box !important; word-wrap: break-word !important;"><span style="max-width: 100%; color: rgb(255, 255, 255); box-sizing: border-box !important; word-wrap: break-word !important;">幸遇治骨高手，摆脱痛苦折磨</span></strong></strong></span></section>
                        </section><p><br></p><p style="font-size:18px;line-height: 25.6px; white-space: normal; max-width: 100%; min-height: 1em; color: rgb(51, 51, 51); text-indent: 24px; box-sizing: border-box !important; word-wrap: break-word !important;"><span style="max-width: 100%; box-sizing: border-box !important; word-wrap: break-word !important;">转眼已熬过10个年头，期间尝试过各种手段，不仅不见好转，身体也每况愈下，去年冬天开始，我已经出现了肌萎缩的情况，如果不能有效缓解，很可能会瘫痪。</span></p>
                        <p style="color:red;font-weight:600;text-indent:24px;font-size:18px;">谁也没想到，当初没有在意的腰椎病，居然发展到快要让我瘫痪的地步了！</p>
                        <p style="line-height: 25.6px; font-size:18px;white-space: normal; max-width: 100%; min-height: 1em; color: rgb(51, 51, 51); text-indent: 24px; box-sizing: border-box !important; word-wrap: break-word !important;"><span style="max-width: 100%; box-sizing: border-box !important; word-wrap: break-word !important;">绝望之际，经病友介绍，认识了一位姓陆的老中医，说他有个治颈腰椎病的绝活，外敷的黑膏药，距今已有300多年历史，已经帮助很多病友摆脱了颈腰椎病的痛苦折磨。</span></p><p style="line-height: 25.6px;font-size:18px; white-space: normal; max-width: 100%; min-height: 1em; color: rgb(51, 51, 51); text-indent: 24px; box-sizing: border-box !important; word-wrap: break-word !important;"><span style="max-width: 100%; box-sizing: border-box !important; word-wrap: break-word !important;">我抱着一丝希望，联系了陆老师，他的治骨团队给我快递了几贴无敌黑膏，正是这几贴小小的膏药，彻底颠覆了我对民间中医的认识。</span></p>
                        <p style="line-height: 25.6px;font-size:18px; white-space: normal; max-width: 100%; min-height: 1em; color: rgb(51, 51, 51); text-indent: 24px; box-sizing: border-box !important; word-wrap: break-word !important;"><span style="max-width: 100%; line-height: 1.6; box-sizing: border-box !important; word-wrap: break-word !important;"><span style="color:red;font-weight:600;">刚贴上几天就感觉腰部疼痛感明显减轻，下肢麻木感也有所减少，有股药力在腰间蠕动，像经络被打通的感觉</span>，半个月左右，感觉腰腿都轻松很多，走路远点也不疼了。</span></p>
                        <p align="center"><img src="@Roc.Uility.Source.SiteSource.CDNUrl_JZ/jzimgs/p4.png" width="70%"></p>
                        <p style="color:red;font-weight:600;text-align:center;font-size:18px;">以前走路都觉得吃力，现在扛一桶水爬楼梯都感觉很轻松。</p>
                        <p style="text-indent:24px;font-size:18px;">经过大半年的休养，逐渐恢复了正常生活，去医院拍片检查发现，腰椎突起部位已经消失，重获健康的我，喜极而泣！</p><br>
                        <p align="center"><img src="@Roc.Uility.Source.SiteSource.CDNUrl_JZ/jzimgs/p07.jpg" width="70%"></p>
                        <p><br></p><p style="line-height: 25.6px;font-size:18px;text-indent: 24px; white-space: normal; max-width: 100%; min-height: 1em; box-sizing: border-box !important; word-wrap: break-word !important;"><span style="max-width: 100%; line-height: 25.6px; text-align: justify; white-space: pre-wrap; box-sizing: border-box !important; word-wrap: break-word !important;">我之所以花费精力把自己的康复经历分享给大家，是因为我作为被腰突折磨了12年的患者，曾经深受病痛折磨，也深知能帮助我们康复的方法实在太少了，搞不好会让病越来越严重。</span></p>
                        <p style="line-height: 25.6px; text-indent: 24px;font-size:18px;white-space: normal; max-width: 100%; min-height: 1em; box-sizing: border-box !important; word-wrap: break-word !important;">
                            遇到陆老师的无敌治骨是我的幸运，我打心眼里感激他，也希望那些还在治疗路上苦苦挣扎的病友们能少走弯路，少花冤枉钱，早日重获健康，恢复正常生活。
                        </p><br>
                        <div style="color:red;font-size:18px;font-weight:600;text-align:center;">
                            <p>多少年饱受折磨，难道今天你还想错过？现在长按下方黄色区域，添加无敌治骨微信</p>
                            <b style="color:red;font-size:20px;background:yellow;" id="gubing1" oncopy="myFunction();">
                                <script>document.write(stxlwx);</script>
                            </b>
                            <p>免费获取调理颈腰椎的妙招</p>
                        </div>


                        <p></p><p style="line-height: 25.6px; white-space: normal; max-width: 100%; min-height: 1em; text-align: center; box-sizing: border-box !important; word-wrap: break-word !important;" class="weixin-num-img"> </p><section class="" data-source="bj.96weixin.com" style="white-space: normal; max-width: 100%; line-height: 26.9474px; box-sizing: border-box !important; word-wrap: break-word !important;"><section class="" style="max-width: 100%; box-sizing: border-box; border-width: 0px; border-style: none; word-wrap: break-word !important;"><p style="max-width: 100%;font-size:18px; min-height: 1em; line-height: 25.6px; text-align: center; box-sizing: border-box !important; word-wrap: break-word !important;"><span style="max-width: 100%; box-sizing: border-box !important; word-wrap: break-word !important;">腰椎康复后，我怀着感激的心情，去拜访了陆老师——云南昆明市无敌治骨的陆柏久先生。既然说到陆老师就来详细介绍下吧！</span></p><p><br></p></section></section>
                        <section class="" style="height: 1px; box-sizing: border-box; background-color: rgb(160, 160, 160);"></section>
                        <section class="Powered-by-XIUMI V5" style="position: static; box-sizing: border-box;" powered-by="xiumi.us">
                            <section class="" style="margin: 15px 0%; transform: translate3d(0px, 0px, 0px); -webkit-transform: translate3d(0px, 0px, 0px); -moz-transform: translate3d(0px, 0px, 0px); -o-transform: translate3d(0px, 0px, 0px); position: static; box-sizing: border-box;">
                                <section class="" style="display: inline-block; vertical-align: top; width: 15%; padding: 0px 1px; box-sizing: border-box;"> <section class="Powered-by-XIUMI V5" style="position: static; box-sizing: border-box;" powered-by="xiumi.us"><section class="" style="margin-top: 10px; margin-bottom: 10px; text-align: center; transform: translate3d(0px, 0px, 0px); -webkit-transform: translate3d(0px, 0px, 0px); -moz-transform: translate3d(0px, 0px, 0px); -o-transform: translate3d(0px, 0px, 0px); position: static; box-sizing: border-box;"><section class="" style="display: inline-block; vertical-align: top; border-left-color: rgb(160, 160, 160); border-right-color: rgb(160, 160, 160); padding: 0px 5px; border-left-width: 1px; border-left-style: solid; border-right-width: 1px; border-right-style: solid; color: rgb(160, 160, 160); line-height: 1.4; box-sizing: border-box;"><p style="display: inline-block; width: 1em; margin: 0px; float: right; clear: none; padding: 0px; box-sizing: border-box;"><strong style="box-sizing: border-box;">陆柏久</strong></p><p class="" style="clear: both; font-size: 0px; line-height: 0; min-height: 0px; margin: 0px; padding: 0px; box-sizing: border-box;"><br style="box-sizing: border-box;"></p></section></section></section> </section><section class="" style="display: inline-block; vertical-align: top; width: 85%; box-sizing: border-box;">
                                    <section class="Powered-by-XIUMI V5" style="position: static; box-sizing: border-box;" powered-by="xiumi.us">
                                        <section class="" style=" transform: translate3d(0px, 0px, 0px); -webkit-transform: translate3d(0px, 0px, 0px); -moz-transform: translate3d(0px, 0px, 0px) ; -o-transform: translate3d(0px, 0px, 0px); position: static; box-sizing: border-box;">
                                            <section class="" style="text-align: justify; color: rgb(92, 90, 90); font-size: 15px; box-sizing: border-box;">

                                                <p style="white-space: normal; margin: 0px; padding: 0px; box-sizing: border-box;padding-top: 14px;">云药集团“云药堂”当代掌门人</p>
                                                <p style="white-space: normal; margin: 0px; padding: 0px; box-sizing: border-box;padding-top: 9px;">非物质文化遗产“无敌治骨疗法”传承人</p>
                                            </section>
                                        </section>
                                    </section>
                                </section>
                            </section>
                        </section><section class="Powered-by-XIUMI V5" style="position: static; box-sizing: border-box;" powered-by="xiumi.us"><section class="" style="margin: 0.5em 0px; position: static; box-sizing: border-box;"><section class="" style="height: 1px; box-sizing: border-box; background-color: rgb(160, 160, 160);"></section> </section></section><section class="Powered-by-XIUMI V5" style="position: static; box-sizing: border-box;" powered-by="xiumi.us"><section class="" style="position: static; box-sizing: border-box;"><section class="" style="font-size: 24px; color: rgba(250, 16, 16, 0.972549); box-sizing: border-box;"></section></section></section>
                        <p style="text-indent:24px;font-size:18px;">陆柏久出生在中醫世家。10岁随父亲去昆明药材市场选药，23岁开始开启漫长的诊疗生涯；50岁时幸得无敌治骨真传，他结合自己多年的实践经验，将此疗法不断改进，疗效远超从前。陆老师对300年无敌古方膏药有着深刻的研究，他最擅长的就是针对腰椎病的不同病因和症状，制定不同的康复方案，可谓是一症一方案！他凭借过硬的治骨经验，使无数腰椎病患者受益终身！</p>
                        <p style="text-indent:24px;font-size:18px;">陆柏久老先生最常说的一句话：<span style="color:red;font-weight:600;" "=" ">“骨病能来就能走，不管多重的腰椎病，只要找对方法，都能治。”</span></p><br>
                        <div style="text-align:center">
                            <img src="@Roc.Uility.Source.SiteSource.CDNUrl_JZ/jzimgs/584e80bee9ed66919494a74f6743e620-sz_402724.png" width="48%">

                            <img src="@Roc.Uility.Source.SiteSource.CDNUrl_JZ/jzimgs/c28508babf96891a148dc2b5f8a97806-sz_390889.png" width="48%">

                            <img src="@Roc.Uility.Source.SiteSource.CDNUrl_JZ/jzimgs/d449711eeb0de8acbbf73343fc386c45-sz_832517.png" width="97%">
                        </div>
                        <!--<section class="Powered-by-XIUMI V5" style="position: static; box-sizing: border-box;" powered-by="xiumi.us"><section class="" style="margin: 0px 4%; position: static; box-sizing: border-box;"><section class="" style="display: inline-block; vertical-align: top; width: 50%; padding: 0px 10px; box-sizing: border-box;"> <section class="Powered-by-XIUMI V5" style="position: static; width: 100%; transform: rotateZ(353.88deg); -webkit-transform: rotateZ(353.88deg); -moz-transform: rotateZ(353.88deg); -o-transform: rotateZ(353.88deg); box-sizing: border-box;" powered-by="xiumi.us"><section class="" style="margin: 0.5em 0px; font-size: 16px; position: static; box-sizing: border-box;"><img style="box-sizing: border-box; width: 100%; border: 4px solid rgb(255, 255, 255); box-shadow: rgb(102, 102, 102) 3.53553px 3.53553px 8px; height: auto !important;" src="images/584e80bee9ed66919494a74f6743e620-sz_402724.png" class="" data-ratio="1.3333333" data-w="600" _width="100%"></section></section><section class="Powered-by-XIUMI V5" style="position: static; width: 100%; transform: rotateZ(7.25deg); -webkit-transform: rotateZ(7.25deg); -moz-transform: rotateZ(7.25deg); -o-transform: rotateZ(7.25deg); box-sizing: border-box;" powered-by="xiumi.us"><section class="" style="margin: 0.5em 0px; font-size: 16px; position: static; box-sizing: border-box;"><img style="box-sizing: border-box; width: 100%; border: 4px solid rgb(255, 255, 255); box-shadow: rgb(102, 102, 102) 0.2em 0.2em 0.5em; height: auto !important;" src="images/bdb3586ec3660060b795f5666630e065-sz_207243.png" class="" data-ratio="0.6317136" data-w="391" _width="100%"></section></section> </section><section class="" style="display: inline-block; vertical-align: top; width: 50%; padding: 0px 10px; box-sizing: border-box;"> <section class="Powered-by-XIUMI V5" style="position: static; width: 100%; transform: rotateZ(4.45deg); -webkit-transform: rotateZ(4.45deg); -moz-transform: rotateZ(4.45deg); -o-transform: rotateZ(4.45deg); box-sizing: border-box;" powered-by="xiumi.us"><section class="" style="margin: 0.5em 0px; font-size: 16px; position: static; box-sizing: border-box;"><img style="box-sizing: border-box; width: 100%; border: 3px solid rgb(255, 255, 255); box-shadow: rgb(102, 102, 102) 3.53553px 3.53553px 8px; height: auto !important;" src="images/c28508babf96891a148dc2b5f8a97806-sz_390889.png" class="" data-ratio="1.3245033" data-w="604" _width="100%"></section></section><section class="Powered-by-XIUMI V5" style="position: static; width: 100%; transform: rotateZ(349.89deg); -webkit-transform: rotateZ(349.89deg); -moz-transform: rotateZ(349.89deg); -o-transform: rotateZ(349.89deg); box-sizing: border-box;" powered-by="xiumi.us"><section class="" style="margin: 0.5em 0px; font-size: 16px; position: static; box-sizing: border-box;"><img style="box-sizing: border-box; width: 100%; border: 0.3em solid rgb(255, 255, 255); box-shadow: rgb(102, 102, 102) 0.2em 0.2em 0.5em; height: auto !important;" src="images/d449711eeb0de8acbbf73343fc386c45-sz_832517.png" class="" data-ratio="0.7453125" data-w="640" _width="100%"></section></section> </section></section></section>-->
                        <p><br></p>
                        <p style="text-indent:24px;font-size:18px;">谈起陆柏久的无敌治骨疗法，周围人也都是赞不绝口，凭借着几十年行醫经验及300年无敌治骨的方法，不管是多顽固的腰间盘突出等腰椎病，经他诊治后，都能快速康复。陆老师的无敌治骨团队最擅长的就是解决各类难缠的腰椎等问题。</p>
                        <p style="text-indent:24px;font-size:18px;">陆老师医德仁心，为拯救更多被病痛折磨的朋友，专门成立了无敌治骨团队，帮助老腰突患者们抵抗病魔。通过微信的形式在线问诊，根据个人病情，制定专属治疗方案。</p><br>
                        <p align="center"><img src="@Roc.Uility.Source.SiteSource.CDNUrl_JZ/jzimgs/p6.png"></p><p style="text-align:center;color:red;font-weight:600;">陆老师无敌治骨团队结业典礼</p><br>
                        <p align="center"><img src="@Roc.Uility.Source.SiteSource.CDNUrl_JZ/jzimgs/p13.png"></p><p style="text-align:center;color:red;font-weight:600;">陆老师团队受邀全国巡诊照片</p><br>
                        <p style="text-indent:24px;font-size:18px;">自从陆柏久的无敌治骨团队开通微信就诊以来，每天都有几百人加微信咨询，对于患者的每一个问题，无敌治骨团队，都会认真的解答，直至给出最佳的治疗方案，丝毫不敢马虎。</p><br>
                        <div style="color:red;font-size:18px;font-weight:600;text-align:center;">
                            <p>无敌治骨微信</p>
                            <b style="color:red;font-size:20px;background:yellow;" id="gubing2" oncopy="myFunction();">
                                <script>document.write(stxlwx);</script>
                            </b>
                            <p>长按复制添加  免费咨询</p><br>
                        </div>

                        <p style="background: red;color:#fff;font-size:24px;font-weight:bold;text-align:center;">无敌治骨为啥效果这么好？</p>
                        <p style="color:red;font-size:18px;font-weight:bold;text-align:center;">传承300年，只做一件事——治骨！</p><br>
                        <p><img src="@Roc.Uility.Source.SiteSource.CDNUrl_JZ/jzimgs/t1.png"><span style="background:red;font-weight:600;padding:10px;color:#fff;font-size:18px;">百年老方 历久弥新</span></p>

                        <p style="line-height: 25.6px;font-size:18px; white-space: normal; max-width: 100%; min-height: 1em; color: rgb(51, 51, 51); text-indent: 2em; box-sizing: border-box !important; word-wrap: break-word !important;"><span style="max-width: 100%; box-sizing: border-box !important; word-wrap: break-word !important;">无敌治骨疗法，它源于明朝永历年间（公元1633年），创始人是云南江川名医王玘。300年传承至今，结合今人的实践经验对古方不断改良改进，配方已趋于完善，造福数以万计的病友。</span></p>
                        <img src="@Roc.Uility.Source.SiteSource.CDNUrl_JZ/jzimgs/p7.png">
                        <p style="text-indent:2em;font-size:18px;">1927年，南昌起义期间，无敌传人将“无敌治骨疗法”送往前线，专为部队官兵治骨疗伤，因其效果显著，获朱德元帅亲笔题书：“功效惊人，可以济世”。</p><br>
                        <img src="@Roc.Uility.Source.SiteSource.CDNUrl_JZ/jzimgs/p8.png"><p><br></p>
                        <p><img src="@Roc.Uility.Source.SiteSource.CDNUrl_JZ/jzimgs/t2.png"><span style="background:red;font-weight:600;padding:10px;color:#fff;">地道药材  精挑细选</span></p>
                        <p style="text-indent:2em;font-size:18px;">好方子，必须有好的药材和好的工艺，无敌治骨疗法之所以效果好，离不开地道的药材和繁复的工艺！无敌黑膏含有58味纯天然野生中草药；药材好，药才好！对药材的挑选，陆老师可谓是苛刻到了极致，一、一定要选云南当地的正宗治骨药材，二、选药要精，同等药材中一定要选择品质最好的；</p><br>
                        <p align="center"><img src="@Roc.Uility.Source.SiteSource.CDNUrl_JZ/jzimgs/p9.png" width="70%"></p>
                        <p style="text-align:center;font-size:18px;">58味纯天然野生中草药</p>
                        <p style="text-indent:2em;font-size:18px;">陆老师传承的300年无敌膏药配方，是无敌人一代一代传下来的，至今已有八代，后人结合自己的实践经验，不断的加以改良改进，到陆老师这里，组方已经趋于完善。为了让这个民间瑰宝能传播下去，造福更多的病友，应陆老师的要求，今天公布一下无敌黑膏的药材配方：</p>
                        <p style="color:red;font-weight:600;font-size:20px;">具体配方：</p>
                        <p style="text-indent:2em;color: rgb(90, 148, 86);font-size:18px;">乳香、没药、细辛、冰片、八角枫、生草乌、四块瓦、生川乌、雪上一枝蒿、桑寄生、五香血藤、独活、透骨草、伸筋草、生地黄、熟地黄、续断、红花、土茯苓、海螵蛸、当归、苏木、 白芷、猴骨、重楼、海马、木鳖子、马前子、三分三、黄芪、三七、骨碎补、淫羊藿、千年健、杜仲、海风藤、刺五加、钻地风、牛膝、血竭、白术、肉桂、苍术、党参、茯苓、秦艽、仙鹤草、苦参、地肤子、鹤虱、黄连、黄芩、黄柏、大黄、银花、威灵仙、赤芍、蕲蛇。</p><br>
                        <p><img src="@Roc.Uility.Source.SiteSource.CDNUrl_JZ/jzimgs/t5.png"><span style="background:red;font-weight:600;padding:10px;color:#fff;">传统工艺 手工炮制</span></p>
                        <p style="text-indent:2em;font-size:18px;">无敌治骨疗法坚持传统工艺，古法炮制，手工熬膏，几十年如一日；历经九蒸九制、麻油浸泡、大火蒸沸、小火慢熬，全程八十一道工序，这些程序无敌人必定亲力亲为，丝毫不敢马虎。</p>
                        <p style="text-indent:2em;">经过炮制后的药材，还需经过粉碎、混合、浸泡、炸药、文火久熬、药枯过滤、冷却、去火毒、加细药，控制火候，待熬到滴水成珠、老嫩适中时，方可摊涂制成膏药。</p><br>
                        <div class="video_sp" align="center">
                           <iframe class="video_iframe" style="z-index:1;" src="http://v.qq.com/iframe/player.html?vid=p0518udobod&amp;&amp;auto=0" allowfullscreen="" frameborder="0"></iframe>

                        </div><p><br></p>
                        <p><img src="@Roc.Uility.Source.SiteSource.CDNUrl_JZ/jzimgs/t3.png"><span style="background:red;font-weight:600;padding:10px;color:#fff;font-size:18px;">无敌黑膏  治骨一绝</span></p>

                        <p style="text-indent:2em;font-size:18px;">
                            陆老师说，外用膏剂在我国有几千年的应用历史，其优势是，局部外用，通过皮肤渗透达皮下组织，药效直达病所，老腰突患者不吃药不手术，在家轻轻松松就能把腰椎病给看好了。而在西医当道的当下，这种简单，方便、有效的康复方式，正在慢慢的被抛弃，只能在民间才能看到。

                        </p>
                        <p style="text-indent:2em;color:red;font-weight:600;font-size:18px;">很多人会有疑问，为什么以前用了那么多膏药都不管用呢？</p>
                        <p style="text-indent:2em;" font-size:18px;="">
                            陆老师介绍说：现在市场上的膏贴，大多采用工业压敏胶或热熔胶，基本不含中药成分，只对疼痛有辅助缓解作用。而传统老膏药，因其地道的选材、复杂的制作工艺，疗效显著，不然也不会传承至今了。
                        </p>
                        <br>
                        <img src="@Roc.Uility.Source.SiteSource.CDNUrl_JZ/jzimgs/p10.png"><p><br></p>
                        <p><img src="@Roc.Uility.Source.SiteSource.CDNUrl_JZ/jzimgs/t4.png"><span style="background:red;font-weight:600;padding:10px;color:#fff;font-size:18px;">传承百年  非遗瑰宝</span></p>
                        <p style="text-indent:2em;font-size:18px;">2004年国家药监局对全国药品进行整顿，取缔“无敌”等称号，云南药监局为无敌发函申请特批，，经国家药监局专家研讨，在全国骨伤科协会李会长的带领下，国内34位骨科权威来到云南进行为期15天的考察，他们深深被无敌的组方和疗效所折服。专家们一致认为这么惊人的疗效，加上它百年老字号的口碑。凭这两点，完全可以保留“无敌”之名。</p>
                        <p style="text-indent:2em;font-size:18px;">如今，经300多年的历史传承与临床验证，无敌治骨疗法对腰椎间盘突出、腰肌劳损、腰椎骨刺、腰椎管狭窄等有奇效，被载入“非物质文化遗产”名录，列入“中药保护品种”名单，成为中华医学瑰宝。</p>
                        <img src="@Roc.Uility.Source.SiteSource.CDNUrl_JZ/jzimgs/p11.png" width="48%"> <img src="@Roc.Uility.Source.SiteSource.CDNUrl_JZ/jzimgs/p12.png" width="48%">
                        <p><br></p>
                        <section class="" style="max-width: 100%; line-height: 25.6px; overflow-x: hidden; box-sizing: border-box !important; word-wrap: break-word !important;"><section class="" style="max-width: 100%; font-family: &#39;Microsoft YaHei&#39;, Arial, sans-serif; font-variant-ligatures: normal; line-height: 25.6px; orphans: 2; widows: 2; border: 0px none; box-sizing: border-box !important; word-wrap: break-word !important;"><section style="max-width: 100%; border: 0px none; box-sizing: border-box !important; word-wrap: break-word !important;"><section style="margin: 20px 5px 5px; padding: 5px; max-width: 100%; border: 2px solid rgb(214, 152, 16); line-height: 24px; border-radius: 2px; box-sizing: border-box !important; word-wrap: break-word !important;"><p style="margin-top: -25px; margin-right: 5px; margin-left: 5px; padding: 5px; max-width: 100%; min-height: 1em; text-align: center; box-sizing: border-box !important; word-wrap: break-word !important;"><strong style="max-width: 100%; box-sizing: border-box !important; word-wrap: break-word !important;"><span style="padding: 10px 15px; max-width: 100%; border-radius: 4px; color: red; font-size: 18px; box-sizing: border-box !important; word-wrap: break-word !important; background-color: rgb(254, 254, 254);">郑重提醒</span></strong></p><p style="margin-top: -25px; margin-right: 5px; margin-left: 5px; padding: 5px; max-width: 100%; min-height: 1em; text-align: center; box-sizing: border-box !important; word-wrap: break-word !important;"><span style="max-width: 100%; text-align: justify; line-height: 21px; color: rgb(0, 0, 0); box-sizing: border-box !important; word-wrap: break-word !important;"><br style="max-width: 100%; box-sizing: border-box !important; word-wrap: break-word !important;"></span></p><p style="margin-top: -25px; margin-right: 5px; margin-left: 5px; padding: 5px; max-width: 100%; min-height: 1em; text-align: center; box-sizing: border-box !important; word-wrap: break-word !important;"><span style="max-width: 100%; text-align: justify; line-height: 21px; color: rgb(0, 0, 0); box-sizing: border-box !important; word-wrap: break-word !important;"><br style="max-width: 100%; box-sizing: border-box !important; word-wrap: break-word !important;"></span></p><p style="margin-top: -25px;font-size:18px; margin-right: 5px; margin-left: 5px; padding: 5px; max-width: 100%; min-height: 1em; box-sizing: border-box !important; word-wrap: break-word !important;"><span style="max-width: 100%; text-align: justify; line-height: 21px; color: rgb(0, 0, 0); box-sizing: border-box !important; word-wrap: break-word !important;">&nbsp; &nbsp; &nbsp; &nbsp;如果您或者您身边的亲戚朋友也正在忍受着<span style="color:red;font-weight:600;">腰椎间盘突出、腰肌劳损、腰椎骨刺、腰椎管狭窄</span>等困扰，就试试无敌治骨吧！扫描下方二维码，加无敌治骨微信，<span style="color:red;font-weight:600;">早治疗，少花钱，少遭罪！</span></span><br style="max-width: 100%; box-sizing: border-box !important; word-wrap: break-word !important;"></p></section></section></section></section>
                        <div style="color:red;font-size:18px;font-weight:600;text-align:center;">
                            <p>无敌治骨微信</p>
                            <b style="color:red;font-size:20px;background:yellow;" id="gubing3" oncopy="myFunction();">
                                <script>document.write(stxlwx);</script>
                            </b>
                            <p>长按复制添加  免费咨询</p><br>
                        </div>









                        <hr>
                        <p style="line-height: 25.6px; white-space: normal; max-width: 100%; min-height: 1em; text-align: center; box-sizing: border-box !important; word-wrap: break-word !important;"><span style="max-width: 100%; font-family: 宋体; color: rgb(255, 41, 65); font-size: 14px; box-sizing: border-box !important; word-wrap: break-word !important;"></span></p><p style="font-size: 16px; line-height: 25.6px; white-space: normal; max-width: 100%; min-height: 1em; color: rgb(62, 62, 62); font-family: 微软雅黑; box-sizing: border-box !important; word-wrap: break-word !important; background-color: rgb(255, 255, 255);"><span style="max-width: 100%; color: rgb(127, 127, 127); line-height: 25.6px; box-sizing: border-box !important; word-wrap: break-word !important;"> &nbsp; &nbsp;&nbsp;</span><span style="max-width: 100%; line-height: 25.6px; box-sizing: border-box !important; word-wrap: break-word !important;">&nbsp;</span><span style="max-width: 100%; color: rgb(127, 127, 127); line-height: 25.6px; box-sizing: border-box !important; word-wrap: break-word !important;"></span></p><p style="padding-bottom: 20px; font-size: 16px; line-height: 25.6px; white-space: normal; max-width: 100%; min-height: 1em; color: rgb(62, 62, 62); font-family: 微软雅黑; text-align: center; box-sizing: border-box !important; word-wrap: break-word !important; background-color: rgb(255, 255, 255);"><span style="max-width: 100%; color: rgb(127, 127, 127); line-height: 25.6px; box-sizing: border-box !important; word-wrap: break-word !important;">精彩评论</span><br style="max-width: 100%; box-sizing: border-box !important; word-wrap: break-word !important;"></p><p style="padding-bottom: 20px; font-size: 16px; line-height: 25.6px; white-space: normal; max-width: 100%; min-height: 1em; color: rgb(62, 62, 62); text-align: right; font-family: 微软雅黑; box-sizing: border-box !important; word-wrap: break-word !important; background-color: rgb(255, 255, 255);"><span style="max-width: 100%; color: rgb(79, 129, 189); box-sizing: border-box !important; word-wrap: break-word !important;"><span style="max-width: 100%; line-height: 40px; letter-spacing: 5px; font-family: Verdana, Arial, Tahoma; font-size: 20px; box-sizing: border-box !important; word-wrap: break-word !important;"></span></span></p>
                    </div>


                    <div class="rich_media_area_extra">

                        <div class="mpda_bottom_container" id="js_bottom_ad_area" style="display: none;">

                        </div>

                        <div class="rich_media_extra" id="js_preview_cmt">


                            <div class="tot_pin ">
                                <span class="photo"><img src="@Roc.Uility.Source.SiteSource.CDNUrl_JZ/jzimgs/16.jpg" tppabs="images/tou_1.jpg&quot;" class="photo"></span> <span class="content">
                                    <div class="borde box1 ">
                                        <span class="ni_name">花自芬芳</span><span class="like"><img src="@Roc.Uility.Source.SiteSource.CDNUrl_JZ/jzimgs/0000.jpg" tppabs="images/hand.jpg&quot;" name="zambia" style="width:25px; height:25px">&nbsp;<span>157</span></span><br>

                                        老腰突折磨我十几年了，以前试过很多方法都不管用，想做手术，可我这把老骨头实在经不起折腾了。管不管用的先加上看看吧，希望这是最后一次了。<br><span class="ni_name">2017-08-29 11:35</span><br>

                                    </div>
                                </span><div class="clear"></div>
                            </div>
                            <div class="tot_pin ">
                                <span class="photo"><img src="@Roc.Uility.Source.SiteSource.CDNUrl_JZ/jzimgs/17.png" tppabs="images/tou_1.jpg&quot;" class="photo"></span> <span class="content">
                                    <div class="borde box1 ">
                                        <span class="ni_name">山中老人</span><span class="like"><img src="@Roc.Uility.Source.SiteSource.CDNUrl_JZ/jzimgs/0000.jpg" tppabs="images/hand.jpg&quot;" name="zambia" style="width:25px; height:25px">&nbsp;<span>257</span></span><br>

                                        您好，我想问下无敌膏能治颈椎病吗？我颈椎不好，都疼了大半年了，脖子又疼又僵转不了。<br><span class="ni_name">2017-08-30 09:35</span><br>
                                        <span class="ni_name">&nbsp;作者回复</span>

                                        <br><span class="box2">
                                            无敌黑膏就是专门治疗颈腰椎等风湿骨病的，治疗原理都一样。
                                        </span>    <br><span class="ni_name">2017-08-30 12:35</span>
                                    </div>
                                </span> <div class="clear"></div>
                            </div>

                            <div class="tot_pin ">
                                <span class="photo"><img src="@Roc.Uility.Source.SiteSource.CDNUrl_JZ/jzimgs/20.png" class="photo"></span> <span class="content">
                                    <div class="borde box1 ">
                                        <span class="ni_name">大海</span><span class="like"><img src="@Roc.Uility.Source.SiteSource.CDNUrl_JZ/jzimgs/0000.jpg" tppabs="images/hand.jpg&quot;" name="zambia" style="width:25px; height:25px">&nbsp;<span>357</span></span><br>

                                        这年头进一趟医院咋说也得扒层皮，否则别想出门，光是一系列检查下来都要好几千，我还是愿意相信中医，毕竟是咱中华民族的瑰宝。<br><span class="ni_name">2017-09-01 07:15</span><br>

                                    </div>
                                </span> <div class="clear"></div>
                            </div>
                            <div class="tot_pin ">
                                <span class="photo"><img src="@Roc.Uility.Source.SiteSource.CDNUrl_JZ/jzimgs/21.png" tppabs="images/tou_1.jpg&quot;" class="photo"></span> <span class="content">
                                    <div class="borde box1 ">
                                        <span class="ni_name">漫步人生</span><span class="like"><img src="@Roc.Uility.Source.SiteSource.CDNUrl_JZ/jzimgs/0000.jpg" tppabs="images/hand.jpg&quot;" name="zambia" style="width:25px; height:25px">&nbsp;<span>147</span></span><br>

                                        <div tt-data-click="" tt-data-convertid="68077093045" tt-data-eventtype="wechat">
                                            看起来还不错的样子，先加上看看吧，是不是这个微信号:<span style="background:yellow" oncopy="_taq.push({convert_id:&#39;68414669500&#39;, event_type:&#39;wechat&#39;});">
                                                <b style="color:red" id="gubing4" oncopy="myFunction();">
                                                    <script>document.write(stxlwx);</script>
                                                </b>
                                            </span> 怎么没人理我呀！
                                        </div><span class="ni_name">2017-09-5 06:53</span><br>
                                        <span class="ni_name">&nbsp;作者回复</span>

                                        <br><span class="box2">
                                            陆老师无敌治骨团队每天加的人很多，咨询量比较大，您先不要着急，他们看到了一定会回复你的，对每一个人都很用心很认真。
                                        </span><br><span class="ni_name">2017-09-05 11:22</span>

                                    </div>
                                </span> <div class="clear"></div>
                            </div>
                            <div class="tot_pin ">
                                <span class="photo"><img src="@Roc.Uility.Source.SiteSource.CDNUrl_JZ/jzimgs/22.jpg" tppabs="images/tou_1.jpg&quot;" class="photo"></span> <span class="content">
                                    <div class="borde box1 ">
                                        <span class="ni_name">幸运星</span><span class="like"><img src="@Roc.Uility.Source.SiteSource.CDNUrl_JZ/jzimgs/0000.jpg" tppabs="images/hand.jpg&quot;" name="zambia" style="width:25px; height:25px">&nbsp;<span>234</span></span><br>

                                        中医确实有些好东西，我以前也有腰痛的老毛病，就是用贴膏治好的，至今都没有犯过，有朋友到医院又是牵引又是做手术都快整成废人了，我看着都心痛啊！<br><span class="ni_name">2017-09-07 14:38</span><br>

                                    </div>
                                </span> <div class="clear"></div>
                            </div>
                            <div class="tot_pin ">
                                <span class="photo"><img src="@Roc.Uility.Source.SiteSource.CDNUrl_JZ/jzimgs/23.png" tppabs="images/tou_1.jpg&quot;" class="photo"></span> <span class="content">
                                    <div class="borde box1 ">
                                        <span class="ni_name">看红尘--</span><span class="like"><img src="@Roc.Uility.Source.SiteSource.CDNUrl_JZ/jzimgs/0000.jpg" tppabs="images/hand.jpg&quot;" name="zambia" style="width:25px; height:25px">&nbsp;<span>107</span></span><br>

                                        客服说用完一个周期就会有改善，我用了几天，没什么反应，咨询了之后才知道自己使用的方法不对。后来无敌治骨团队的客服重新指导我用法，一个周期下来，腰椎疼痛明显减轻不少。<br><span class="ni_name">2017-09-09 16:35天</span><br>

                                    </div>
                                </span><div class="clear"></div>
                            </div>
                            <div class="tot_pin ">
                                <span class="photo"><img src="@Roc.Uility.Source.SiteSource.CDNUrl_JZ/jzimgs/24.jpg" tppabs="images/tou_1.jpg&quot;" class="photo"></span> <span class="content">
                                    <div class="borde box1 ">
                                        <span class="ni_name">竹本无心</span><span class="like"><img src="@Roc.Uility.Source.SiteSource.CDNUrl_JZ/jzimgs/0000.jpg" tppabs="images/hand.jpg&quot;" name="zambia" style="width:25px; height:25px">&nbsp;<span>168</span></span><br>

                                        加了微信后，客服先让我把片子发过去，又很详细问了我的情况，才给出治疗建议，不像有的上来就卖给你产品，也不问问情况。<br><span class="ni_name">2017-09-10 08:33</span><br>

                                    </div>
                                </span> <div class="clear"></div>
                            </div>
                            <div class="tot_pin ">
                                <span class="photo"><img src="@Roc.Uility.Source.SiteSource.CDNUrl_JZ/jzimgs/25.jpg" tppabs="images/tou_1.jpg&quot;" class="photo"></span> <span class="content">
                                    <div class="borde box1 ">
                                        <span class="ni_name">会飘的雨</span><span class="like"><img src="@Roc.Uility.Source.SiteSource.CDNUrl_JZ/jzimgs/0000.jpg" tppabs="images/hand.jpg&quot;" name="zambia" style="width:25px; height:25px">&nbsp;<span>157</span></span><br>

                                        您好，我在京东看有卖无敌黑膏的，你是在京东买的吗？<br><span class="ni_name">2017-09-10 09:12</span><br>
                                        <span class="ni_name">&nbsp;作者回复</span>

                                        <br><span class="box2">
                                            我是通过无敌治骨官方微信平台购买的，无敌治骨团队老师会根据每个人的病症做指导，很贴心的。你可以加他们的官方微信：<span style="background:yellow" oncopy="_taq.push({convert_id:&#39;68414669500&#39;, event_type:&#39;wechat&#39;});">
                                                <b style="color:red" id="gubing5" oncopy="myFunction();">
                                                    <script>document.write(stxlwx);</script>
                                                </b>
                                            </span>
                                        </span>   <br><span class="ni_name">2017-09-14 18:02</span>

                                    </div>
                                </span> <div class="clear"></div>
                            </div>
                            <div class="tot_pin ">
                                <span class="photo"><img src="@Roc.Uility.Source.SiteSource.CDNUrl_JZ/jzimgs/25.png" tppabs="images/tou_1.jpg&quot;" class="photo"></span> <span class="content">
                                    <div class="borde box1 ">
                                        <span class="ni_name">行者</span><span class="like"><img src="@Roc.Uility.Source.SiteSource.CDNUrl_JZ/jzimgs/0000.jpg" tppabs="images/hand.jpg&quot;" name="zambia" style="width:25px; height:25px">&nbsp;<span>203</span></span><br>

                                        我妈妈得腰椎病有七八年了，腰疼的直不起来，走路也不利索，真心遭罪，按摩、针灸什么都试过，一点用没有。后来用了无敌治骨，现在好的差不多了，看到妈妈现在恢复健康，活动自如，能正常生活，我心里比中了头彩都高兴。<br><span class="ni_name">2017-09-12 12:33</span><br>

                                    </div>
                                </span> <div class="clear"></div>
                            </div>

                            <div class="tot_pin ">
                                <span class="photo"><img src="@Roc.Uility.Source.SiteSource.CDNUrl_JZ/jzimgs/27.png" tppabs="images/tou_1.jpg&quot;" class="photo"></span> <span class="content">
                                    <div class="borde box1 ">
                                        <span class="ni_name">健康是福</span><span class="like"><img src="@Roc.Uility.Source.SiteSource.CDNUrl_JZ/jzimgs/0000.jpg" tppabs="images/hand.jpg&quot;" name="zambia" style="width:25px; height:25px">&nbsp;<span>205</span></span><br>

                                        您好，我腰部酸胀腿麻，腰疼的弯不下，去郑大一附院检查说是腰间盘突出并伴有右侧椎孔狭窄，请问无敌黑膏对我的病有用吗？
                                        <br><span class="ni_name">2017-09-14 05:43</span><br>
                                        <span class="ni_name">&nbsp;作者回复</span>

                                        <br><span class="box2">
                                            无敌黑膏可以快速缓解腰疼。不过每个人情况不一样，建议您加下无敌治骨团队官方微信：<span style="background:yellow" oncopy="_taq.push({convert_id:&#39;68414669500&#39;, event_type:&#39;wechat&#39;});">
                                                <b style="color:red" id="gubing6" oncopy="myFunction();">
                                                    <script>document.write(stxlwx);</script>
                                                </b>
                                            </span>在老师指导下治疗。
                                        </span>   <br><span class="ni_name">2017-09-14 18:02</span>
                                    </div>
                                </span> <div class="clear"></div>
                            </div>

                            <br><br><br>
                        </div>
                        <div class="clear"></div>
                    </div>



                    <div id="page-content">
                        <div id="img-content"></div>
                    </div>
                </div>

            </div>
        </div>


         <div class="bo-bar">

            <img src="@Roc.Uility.Source.SiteSource.CDNUrl_JZ/jzimgs/wxtb.png">

            <h5 style="position:relative;font-size:14px;line-height:24px;margin-top:15px;">
                <span style="background:yellow;font-size:20px">
                    <b style="color:red;font-size:20px;" id="gubing7" oncopy="myFunction();">
                    <script>document.write(stxlwx);</script></b>
                </span> 长按复制<br>立即添加老师微信，获得快速<br>康复颈腰椎的有效方法
                <a href="weixin://" style="position: absolute;padding:5px 10px;background:#4998E7;color:#fff;;border-radius:3px;font-size:14px;right:20px;top:20px;">去微信</a>
            </h5>



        </div> 
    </div>





    <!--<div class="ewm" style="position:fixed; top:30%;border: 1px solid rgb(255, 204, 51);border-radius: 30px;text-align:center;padding:10px;right:5%;" >
      <P style="font-size:14px;color:#e33209;"><img src="images/zi1.gif">  <br> </P>
     <script type="text/javascript">document.write(img3)</script>
      <p style="border-bottom:dotted 3px #E33209;"></p>
      <p style="color:#e33209;">免费咨询调理颈腰椎的方法</p>
      <br>
    </div>
    <div class="fooder">
                          <p style="color:red;">
                            <span>扫描二维码或添加微信号：<b style='color:red;font-size:20px;background:yellow;' id="gubing10"><script>document.write(stxlwx);</script></b></span><br>

                            关注无敌治骨微信免费获取调理颈腰椎的妙招
                            <script type="text/javascript">document.write(img4)</script>
                          </p>
                        </div>-->
    <script type="text/javascript">
        function closeP() {
            var wx = document.getElementById("wechat");
            var wxb = document.getElementById("wechatBox");
            wx.style.display = "none";
            wxb.style.display = "none";
        }

        function popup() {
            var wx = document.getElementById("wechat");

            var wxb = document.getElementById("wechatBox");

            wx.style.display = "block";

            wxb.style.display = "block";

            addlog();
        }
    </script>

    <!--tailTrap<body></body><head></head><html></html>-->

    <script type="text/javascript">
        document.getElementById('a1').onclick = function () {
            if (document.getElementById('a1').paused) {
                document.getElementById('a1').play();
            }
            else {
                document.getElementById('a1').pause();
            }
        }




        $(document).ready(function () {
            $("#a1").click(function () {
                $(".img2").hide();
            });

        });
    </script>
    <script>

        var account_name = "wjsa1957";

        if (account_name) {

            var account_img = "";

            $('.weixin-num').each(function (i) {

                $(this).text(account_name);

            });

            if (account_img) {

                $('.weixin-num-img').each(function (i) {

                    $(this).html('<img src="' + account_img + '" width="430" height="430">');

                });

            }

            /*$(document).ready(function() {

             $('.weixin-num').bind({

             copy : function(){

             alert('copy behaviour detected!');

             },

             paste : function(){

             alert('paste behaviour detected!');

             },

             cut : function(){

             alert('cut behaviour detected!');

             }

             });

             });*/

            $.fn.longPress = function (fn) {

                var timeout = undefined;

                var $this = this;

                for (var i = 0; i < $this.length; i++) {

                    $this[i].addEventListener('touchstart', function (event) {

                        timeout = setTimeout(fn, 2000);

                    }, false);

                    $this[i].addEventListener('touchend', function (event) {

                        clearTimeout(timeout);

                    }, false);

                }

            }

            $('.weixin-num,.weixin-num-img').longPress(function () {

                lp_ajax();

            });

            function lp_ajax() {

                var url = "/home/index/lp.shtml";

                var datas = "account=" + account_name + '&aid=';

                $.ajax({

                    type: "POST", url: url, data: datas, dataType: "json", success: function (data) {

                    }

                });

            }

        }

    </script>


 
    

</body>
</html>